In [1]:
 import pandas as pd
from sqlalchemy import create_engine

In [2]:
drought_file = "Resources/Drought.csv"
drought_df = pd.read_csv(drought_file)
drought_df.head()

,releaseDate,FIPS,county,state,NONE,D0,D1,D2,D3,D4,validStart,validEnd,domStatisticFormatID
0,2016-11-01,2013,Aleutians East Borough,AK,100.0,0.0,0.0,0.0,0.0,0.0,2016-11-01,2016-11-07,1
1,2016-10-25,2013,Aleutians East Borough,AK,100.0,0.0,0.0,0.0,0.0,0.0,2016-10-25,2016-10-31,1
2,2016-10-18,2013,Aleutians East Borough,AK,100.0,0.0,0.0,0.0,0.0,0.0,2016-10-18,2016-10-24,1
3,2016-10-11,2013,Aleutians East Borough,AK,100.0,0.0,0.0,0.0,0.0,0.0,2016-10-11,2016-10-17,1
4,2016-10-04,2013,Aleutians East Borough,AK,100.0,0.0,0.0,0.0,0.0,0.0,2016-10-04,2016-10-10,1

In [4]:
#selecting only the columns with useful info
drought_cols = ["releaseDate", "county", "state", "D3", "D4"]
drought_transformed= drought_df[drought_cols].copy()

# Rename the column headers
drought_transformed = drought_transformed.rename(columns={"releaseDate": "Date",
                                                          "county": "County",
                                                          "state": "State", 
                                                         "D3": "Extreme",
                                                         "D4":"Exceptional"})

drought_transformed.head()

         Date                  County State  Extreme  Exceptional
0  2016-11-01  Aleutians East Borough    AK      0.0          0.0
1  2016-10-25  Aleutians East Borough    AK      0.0          0.0
2  2016-10-18  Aleutians East Borough    AK      0.0          0.0
3  2016-10-11  Aleutians East Borough    AK      0.0          0.0
4  2016-10-04  Aleutians East Borough    AK      0.0          0.0

In [13]:
#clean up by state, and interested in CA
CA_drought = drought_transformed[drought_transformed["State"] == "CA"]
CA_drought

             Date          County State  Extreme  Exceptional
8096   2016-11-01  Alameda County    CA    44.83          0.0
8097   2016-10-25  Alameda County    CA    44.83          0.0
8098   2016-10-18  Alameda County    CA    44.83          0.0
8099   2016-10-11  Alameda County    CA    44.83          0.0
8100   2016-10-04  Alameda County    CA    44.83          0.0
...           ...             ...   ...      ...          ...
10643  2016-02-02     Yuba County    CA   100.00         82.7
10644  2016-01-26     Yuba County    CA   100.00         82.7
10645  2016-01-19     Yuba County    CA   100.00        100.0
10646  2016-01-12     Yuba County    CA   100.00        100.0
10647  2016-01-05     Yuba County    CA   100.00        100.0

[2552 rows x 5 columns]